
/* HomePage CSS Part */

.header{
    display: flex;
    justify-content: space-between;
    height: 130px;
    background-color: rgb(165, 205, 142);
}
.headName{
    margin-left: 15px;
}
.icons{
    display: flex;
    margin-top: 1.7%;
    margin-right: 1%;
}
.proodetails{
    width: 97%;
    margin: auto;
}
.search{
    margin-right: 3%;
}
.lists{
    display: flex;
}
.lists > div{
    width: 50%;
    height: 22px;
    border: 1px solid rgb(124, 155, 107);
    text-align: center;
}
.rit{
    background-color: rgb(187, 238, 157);
}


.iconimgmail{
    height: 50px;
    width: 50px;
}

.dataMapping{
    display: flex;
    margin-top: 13px;
    
}
.linedraw{
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;

}
.linedraw:hover{
    cursor: pointer;
}

  @media only screen and (min-width: 0px) and (max-width:376px){
    .icons{     
        margin-top: 6%;    
    }
    .dataMapping{
        display: flex;
    }
}

@media only screen and (min-width: 376px) and (max-width:768px){
    .icons{
        margin-top: 5%;   
    }
     .dataMapping{
        display: flex;
    } 
}

/* Details Page CSS part */

.head{
    height: 130px;
    width: 100%;
    background-color: rgb(165, 205, 142);
    display: flex;
}

.details{
    width: 95%;
    margin: auto;
}

.iconimgg{
    height: 80px;
    width: 80px;
}

.prod_name{
    display: flex;
    margin-top: 13px;
}
.prodalign{
    margin-left: 10px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 13px;
    border-color: #000000;
  }

@media only screen and (min-width: 0px) and (max-width:376px){
    .prod_name{
        display: flex;
        margin-top: 13px;
    }
    .details{
        font-size: 13px;
    }
}

@media only screen and (min-width: 376px) and (max-width:768px){
    .prod_name{
        display: flex;
        margin-top: 13px;
    }
}



/* Common */
hr{
    width: 50%;
    border-color: black;
    background-color: black;
}